* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
}

body {
    background: black;
    font-family: sans-serif;
    color: white;
}

.logo {
    float: left;
    margin-top: -90px;
    margin-left: 10px;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: right;
    padding: 16px 48px;
    grid-gap: 32px;
    margin-top: -100px;
    margin: -60px;
}

#botao {
    display: flex;
    background: red;
    color: white;
    align-self: flex-start;
    padding: 6px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    border-style: none;
    margin-top: -180px;
    font-size: 13px;
    text-decoration: none;
}

#botao:hover {
    background: darkred;
    transition: 5s;
}

.titulo {
    z-index: 1;
    display: grid;
    align-items: center;
    color: rgb(206, 46, 40);
}

h1 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    max-width: 700px;
}

#contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 7% 5% 5% 5%;
}

#cardIndiv {
    margin: 5% 1%;
    position: relative;
    overflow: hidden;
}

.bi-linkedin {
    color: rgb(11, 57, 192)
}

#photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 0 10%;
    position: relative;
    border-radius: 50%;
}

.overlayItems {
    width: 200px;
    ;
    height: 200px;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    overflow: hidden;
    opacity: 0.8;
    padding: 2%;
    transition: 0.4s ease;
    position: absolute;
    z-index: 1;
    top: 0;
    left: -100%;
}

.infoContact {
    color: white;
    font-size: 15px;
    margin: 10px;
}

.nameContact {
    font-size: 20px;
    text-shadow: 1px 1px 1px rgb(221, 94, 94)
}

#cardIndiv:hover .overlayItems {
    width: 300%;
}

footer {
    background: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 48px;
    grid-gap: 32px;
}

#contato {
    height: 32px;
    width: 100px;
    background: red;
    border-style: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 40px;
    font-weight: bold;
    font-size: 15px;
}

#contato:hover {
    background: darkred;
    transition: 5s;
}

.footer p {
    margin-top: 2rem;
    color: white;
    font-size: 13px;
    text-align: center;
}

@media (max-width: 576px) {
    .containerForm {
        flex-direction: column-reverse;
    }
    .form-inline {
        flex-flow: nowrap;
    }
    .backgroundSearch {
        width: auto;
    }
}