* {
     margin: 0;
     padding: 0;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     -webkit-appearance: none;
}

body{
	 font-family: sans-serif;
  	 color: white;
}

.header{
	 position: absolute;
     z-index: 100;
     width: 100%;
     display: flex;
     justify-content: space-between;
     top: 28px;
     padding: 0 56px;
     box-sizing: border-box;
}

.logo{
	float: left;
	margin-top: -120px;
	margin-left: -50px;
}
	

.navbar{
	 width: 100%;
	 display: flex;
	 justify-content: right;
	 padding: 16px 48px;
	 grid-gap: 32px;
}

#botao{
	 display: inline-block;
  	 background: red;
  	 color: white;
  	 align-self: flex-start;
  	 padding: 8px 18px;
  	 text-decoration: none;
  	 border-radius: 5px;
  	 cursor: pointer;
  	 font-weight: bold;
  	 border-style: none;
}

#botao:hover{
	 background: darkred;
	 transition: 5s;
}

.main{
	
	 padding-top: 4rem;
	 height: 785px;
	 background: url("../assets/bg.jpg") center;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 text-align: center;
	 position: relative;
	 box-sizing: border-box;
}

.apresentacao{
	 z-index: 1;
     display: grid;
     align-items:  center;
}
	

.apresentacao-titulo{
	 font-size: 64px;
	 font-weight: bold;
	 text-align: center;
	 max-width: 700px;
}

.apresentacao-subtitulo{
	 font-size: 26px;
	 margin-top: 10px;
}

.form{
	 padding: 16px 0;
	 display: grid;
	 flex-direction: column;
	 grid-gap: 16px;
	 height: 140px;
}

.form-convite{
	 margin-top: 40px;
     font-size: 19px;

}

.input-botao{
	 display: flex;
	 justify-content: center;
	 align-items: center;
}

#input-email{
	 width: 460px;
	 font-size: 16px;
	 padding: 1.4rem 1rem;
}

#botao-email{
	 padding: 1.2rem;
	 color: white;
	 background: red;
	 border-style: none;
	 font-size: 1.5rem;
	 cursor: pointer;
}

#botao-email:hover{
	 background: darkred;
	 transition: 5s;
}

.gradient {
	  background: rgba(0, 0, 0, 0.4);
	  background-image: linear-gradient(
	    to top,
	    rgba(0, 0, 0, 0.8) 0,
	    rgba(0, 0, 0, 0) 60%,
	    rgba(0, 0, 0, 0.8) 100%
	  );
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
}

.filmes{
	  background: black;
	  padding: 48px 0;
	  border-top: 8px solid #222;
	  font-size: 25px;
	  font-weight: bold;
}

.filmes h1{
	 padding: 20px;
}

.filmes-disponiveis img{
	 width: 20%;
	 padding: 10px;
	 margin: 20px 20px 20px 20px;

}

.catalogo:hover{
	 cursor: pointer;
	 transform: scale(1.1);
}

footer{
	 background: black;
	 width: 100%;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 padding: 16px 48px;
	 grid-gap: 32px;
}


#contato{
	 height: 32px;
	 width: 100px;
	 background: red;
	 border-style: none;
	 border-radius: 5px;
	 color: white;
	 font-size: 16px;
	 cursor: pointer;
	 margin-top: 40px;
	 font-weight: bold;
}

#contato:hover{
	 background: darkred;
	 transition: 5s;
}

.footer p{
     margin-top: 2rem;
     color: white;
     font-size: 13px;
     text-align: center;
}

/*CSS filmes ultimato*/

.conteudo{
	 display: table;
	 background: rgba(10,23,55,0.5);

}

.imagem{
	 display: table-cell;
	 float: left;
	 opacity: 1;
	 transition: 400ms;
	 box-shadow: 10px 10px 10px 0 #000000;
}

.texto{
	 display: table-cell;
	 float: left;
	 width: 800px;
	 margin-top: 200px;
	 margin-left: 30px;
}

.informacoes{
	 font-size: 30px;
	 font-weight: bold;
	 max-width: 700px;
}

.info{
	 margin-top: 10px;
	 font-size: 20px;
}

