body{
    background-color: black;
}

.header{
    position: absolute;
    z-index: 100;
    width: 100%;
    display: flex;
    top: 28px;
    padding: 0 56px;
    box-sizing: border-box;
}

.logo{
   float: left;
   margin-top: -120px;
   margin-left: -50px;
}

.navbar{
	 width: 100%;
	 display: flex;
	 justify-content: right;
	 padding: 16px 48px;
	 grid-gap: 32px;
}

#botao{
	 display: inline-block;
  	 background: red;
  	 color: white;
  	 align-self: flex-start;
  	 padding: 8px 18px;
  	 text-decoration: none;
  	 border-radius: 5px;
  	 cursor: pointer;
  	 font-weight: bold;
  	 border-style: none;
}

main{
    width: 940px;
    margin: 9rem 0 0 3.0rem;
}

form{
    margin: 2.0rem 0 0 0px;
}

form label, form legend{
	color: white;
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
	-moz-appearance:textfield;/*tirar as setas do input number*/
}
.mostrar{
    margin: 0 0 10px;
    color: white;
}
.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background: red;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px ;
    cursor: pointer;
}


/*Parte mobile*/
@media (max-width: 768px){
    .navbar{
        flex-direction: column;
        width: 80%;
    }
    main{
        display: flex;
        flex-wrap: wrap;
    }
    form{
        margin-top: 60px;
        width: 63%;
        height: 20%
    }
    .enviar{
        flex-direction: column;
        align-items:center;
        text-align: center;
        width: 40%
    }
}

/* Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}
  
  /* Modal */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: auto;
    border: 1px solid #888;
    width: 45%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Animação*/
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* Fechar o botão */
  .close {
    color: red;
    float: right;
    font-size: 40px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px 16px;
    background-color: white;
    color: rgb(3, 3, 3);
  }
  
  .modal-body {padding: 10px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: white;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
  }
  #but{
      background-color: black;
      width: 100px;
      height: 40px;
  }
  #a{
      text-decoration: none;
      color:white;
    }

footer{
    backface-visibility: visible;
    -webkit-backface-visibility: visible;
    background-color: black;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 48px;
    grid-gap: 32px;
}
footer .cont{
    text-decoration: none;
    color: rgb(95, 95, 95);
    font-size: 25px;
}