* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.header {
    position: absolute;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 28px;
    padding: 0 56px;
    box-sizing: border-box;
  }

.resposta, .botao {
    width:100%;
    border:1px solid #a096c5;
    font-size: 18px;
    padding:12px;
    background-color: transparent;
    color:white;
    
  }

  .resposta {
      font-family: sans-serif;
      font-weight: bold;
      color: white;
      border-right: 0px;
      outline: none;
  }

  .resposta:hover {
    opacity: .8;
  }

  /*lupa*/
  .botao {
    width:20%;
    background: linear-gradient(to left, #dd6868, #610606);
    color:black;
    transition: all 0.3s;
    border-left:0px;
    outline: none;
    cursor: pointer;
  }
  .botao:hover{
    opacity: .8;
  }

  .pesquisa-filmes {
      display: flex;
      width: 50%;
      height: 50px;
      margin: auto;

  }
  .container-main {
    margin-bottom: 40px;
    margin-top: 40px;
    }

#posicao-filmes{
    margin-top: 2%;
    margin-bottom: 5%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.filmes {
    width: 30%;
    text-align: center;
    padding-bottom: 5%;
}

.copyright {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

body {
    background: black;
    color: white;
}

.header{
    position: absolute;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 28px;
    padding: 0 56px;
    box-sizing: border-box;
}

footer {
    color: cornsilk;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 48px;
    grid-gap: 32px;
}

.titulo{
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}

.texto{
    color: black;
}

.descricao{
    width: 80%;
    margin: 10px auto 10px auto
}
 .mBody{
     width: 80%;
}

.logo{
    position: relative;;
    top: 110px;
    right: 0px;
    left: 100px;
    
}

#resilia, #flix {
    font-size: 1.5em;
    letter-spacing: 2px;
}

#resilia {
    color: #6709ff;
    margin-left: 50px;
    border-bottom: 2px solid #5106c9;
    border-top: 2px solid #5106c9;
    border-left: 2px solid #5106c9;
    padding-left: 5px;

}

#flix {
    color: #E1E1E6;
    border-bottom: 2px solid #E1E1E6;
    border-top: 2px solid #E1E1E6;
    border-right: 2px solid #E1E1E6;
    padding-right: 5px;
}

.entrar {
    border: 1px solid #5106c9;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    transition: background .5s;
    margin-right: 10px;
}

.entrar:hover {
    border: 1px solid #E1E1E6;
    background: #5106c9;
    color: #b3b3b6; 
}

.cadastro {
    background-color: #5106c9;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    transition: background 1s;
    margin-right: 10px;
}

.cadastro:hover {
    background-color: #40079b;
    color: #b3b3b6;
}


.fundoPreto{
    background-color: #121214;
}

#modalTeste{
width: 100%;
}

.erro{
    color: red;
}