* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.body{
    background: black;
    font-family: sans-serif;
    color: white;
}

.header{
    position: absolute;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 28px;
    padding: 0 56px;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: right;
    padding: 16px 48px;
    grid-gap: 32px;
    margin-top: -100px;
    margin: -60px;
}

#botao{
    margin-top: -70px;
    display: flex;
    background: red;
    color: white;
    align-self: flex-start;
    padding: 6px 18px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    border-style: none;
    font-size: 13px;
     
}

#botao:hover{
    background: darkred;
    transition: 5s;
}

.resposta, .botao {
    width:100%;
    border:1px solid red;
    font-size: 18px;
    padding:12px;
    background-color: transparent;
    color:white;
    
}

.resposta {
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    border-right: 0px;
    outline: none;
}

.resposta:hover {
    opacity: .8;
}

  /*lupa*/
.botao {
    width:20%;
    background: red;
    color:black;
    transition: all 0.3s;
    border-left:0px;
    outline: none;
    cursor: pointer;
}
.botao:hover{
    opacity: .8;
}

.pesquisa-filmes {
    display: flex;
    width: 50%;
    height: 50px;
    margin: auto;

}

.container-main {
    margin-bottom: 15%;
    margin-top: 15%;
}

#posicao-filmes{
    margin-top: 2%;
    margin-bottom: 5%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.filmes {
    width: 30%;
    text-align: center;
    padding-bottom: 5%;
}


.logo{
    float: left;
    margin-top: -200px;
	margin-left: -100px;
}


#botao-contato{
    height: 32px;
    width: 100px;
    background: red;
    border-style: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 40px;
    font-weight: bold;
    

}

#contato:hover{
    background: darkred;
    transition: 5s;
}

#copyright{
    margin-top: 2rem;
    color: white;
    font-size: 16px;
    text-align: center;
    
}



.titulo{
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}

.texto{
    color: black;
}

.descricao{
    width: 80%;
    margin: 10px auto 10px auto
}
.mBody{
    width: 80%;
}

.logo{
    position: relative;;
    top: 110px;
    right: 0px;
    left: 100px;
}

.fundoPreto{
    background-color:black;
}

#modalTeste{
    width: 100%;
}

.erro{
    color: red;
    font-size: 20px;
}