* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.header {
    position: absolute;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 28px;
    padding: 0 56px;
    box-sizing: border-box;
  }

.resposta, .botao {
    width:100%;
    border:1px solid #cc2b2b;
    font-size: 18px;
    padding:12px;
    background-color: transparent;
    color:white;
    
  }

  .resposta {
      font-family: sans-serif;
      font-weight: bold;
      color: white;
      border-right: 0px;
      outline: none;
  }

  .resposta:hover {
    opacity: .8;
  }

  /*lupa*/
  .botao {
    width:20%;
    background: linear-gradient(to left, #994848, #610606);
    color:black;
    transition: all 0.3s;
    border-left:0px;
    outline: none;
    cursor: pointer;
  }
  .botao:hover{
    opacity: .8;
  }

  .pesquisa-filmes {
      display: flex;
      width: 50%;
      height: 50px;
      margin: auto;

  }
  .container-main {
    margin-bottom: 15%;
    margin-top: 15%;
    }

#posicao-filmes{
    margin-top: 2%;
    margin-bottom: 5%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.filmes {
    width: 30%;
    text-align: center;
    padding-bottom: 5%;
}

.copyright {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

body {
    background: black;
    color: white;
}

.logo{
    float: left;
    margin-top: -220px;
	margin-left: -100px;
}

.header{
    position: absolute;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 28px;
    padding: 0 56px;
    box-sizing: border-box;
}

footer {
    color: cornsilk;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 48px;
    grid-gap: 32px;
}

.titulo{
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}

.texto{
    color: black;
}

.descricao{
    width: 80%;
    margin: 10px auto 10px auto
}
 .mBody{
     width: 80%;
}

.logo{
    position: relative;;
    top: 110px;
    right: 0px;
    left: 100px;
}

.fundoPreto{
    background-color: #121214;
}

#modalTeste{
width: 100%;
}

.erro{
    color: rgb(221, 50, 50);
}